body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    border: 10px solid rgb(225,190,100);
    background-color: rgb(37,51,36);
    width:850px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    justify-self: center;
    align-self: center;
}

#name-display{
    display: flex;
    justify-content: space-between;
    width:80%;    
}


#board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: row;

    gap: 5px;
    background-color: black;
    color: wheat;
}

.cell{
    display: flex;
    min-width: 80px;
    min-height: 80px;
    background-color: rgb(37,51,36);
    justify-content: center;
    align-items: center;
    padding: 0;
}

.cell img{
    max-height: 80px;
    max-width: 80px;
    pointer-events: none;
    object-fit: contain;
    margin: 0;
}

.player{
    font-style: italic;
}
.player[data-current="true"]{
    font-size: 2rem;
    text-decoration: underline;
}